.homepage{
    background-color: black;
}
.hero-div{
    margin-top: 80px !important;
}

.hero-txt{
    color: white !important;
    font-size: 2 rem;
}

.header-ul .nav-link{
    color: white !important;
    font-size: 1.5 rem;
}
.hero-btn .btn {
    color: white !important;
    border-color: white !important;
    border-width: 2px !important;

}